# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================

.venv/
venv/
env/
ENV/

# =========================
# Jupyter Notebook
# =========================

.ipynb_checkpoints/

# =========================
# VS Code
# =========================

.vscode/

# =========================
# Python Cache
# =========================

.pytest_cache/
.mypy_cache/
.ruff_cache/

# =========================
# Build / Distribution
# =========================

build/
dist/
*.egg-info/

# =========================
# Environment Variables
# =========================

.env
.env.*

# =========================
# OS Files
# =========================

.DS_Store
Thumbs.db

# =========================
# Logs
# =========================

*.log